@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
}
header {
  position: relative;
}
header,
.main {
  width: 40%;
}
.input-container {
  background-color: #fefefe;
}
#input-todo {
  width: 100%;
  background-color: #fefefe;
  border-left: none;
}
.main {
  background-color: #fefefe;
  padding: 0;
}
.main ul {
  padding: 0;
}
.list-item-group {
  display: flex;
  flex-direction: start;
  flex-grow: auto;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 1% 2%;
  gap: 2%;
}
.delete {
  display: none;
}

.list-item-group:hover .delete {
  display: block;
}
.delete:hover {
  color: #b83f45;
}

.todo-description {
  width: 100%;
}
#input-todo:focus {
  border: none;
  outline: none;
}
.toggle-all-checkbox {
  display: block;
  width: 20px;
}

.todo-check {
  appearance: none;
  border: 1px solid;
  color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.todo-check:checked:before {
  content: "\2713";
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

footer {
  width: 40%;
  padding: 1%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.hide {
  display: none;
}
.status {
  padding: 0 1%;
}
.status:hover {
  border: 1px solid #b83f45;
}
